server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location /api {
        # Variable in proxy_pass forces runtime DNS re-resolution.
        # Without this, nginx resolves given ${API_BACKEND_HOST} only at startup and caches it forever.

        # Railway's internal DNS resolver (platform-specific). Replace if deploying elsewhere.
        resolver [fd12::10] valid=10s;

        # set variable
        set $api_backend_host ${API_BACKEND_HOST};

        # Route the request using the variable to force re-resolution
        proxy_pass http://$api_backend_host:8080;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}